<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	
	<title>A Blog</title>
</head>
<body>
<div class="container pt-3">
  <h1>Welcome to The Lorem Ipsum Blog</h1>
  <p class="description">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
  <h3>POSTS</h3>
  {% for post in posts %}
  <div class="post">
  	<span class="post-title"><p>{{post.title}}</p></span>
  	<p class="post">{{post.content}}... </p>
  	<a href="/post/{{post.id}}">See More</a>
  	<a href="/post/{{post.id}}#comments"><p>{{post.comment_count}} comments</p></a>
  </div>
  {% endfor %}
  
</div>

</body>
</html>